spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/breadcast
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_spl: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
