spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true  # data.sql이 JPA 테이블 생성 후 실행되도록

  session:
    cookie:
      name: JSESSIONID
      http-only: true
      secure: false  # HTTPS가 아닌 경우 false
      same-site: lax  # HTTP 환경에서는 lax 사용 (None은 HTTPS에서만 작동)
      max-age: 43200  # 세션 쿠키 유효 시간 (초 단위)

cloud:
  aws:
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}
    s3:
      bucket: breadcast-image-bucket  # 1단계에서 생성한 내 버킷 이름
    region:
      static: ap-northeast-2   # 버킷을 생성한 리전 (서울)

    stack:
      auto: false  # S3 파일 URL을 쉽게 가져오기 위한 설정 (선택 사항)

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
