name: Deploy to my server

on:
  push:
    branches: [ "main" ] # main 브랜치에 코드를 올릴 때마다 실행

jobs:
  build-and-deploy:
    runs-on: self-hosted # [중요] 내 서버(Runner)에서 실행해라!

    defaults:
      run:
        working-directory: ./breadcast

    steps:
    # 1. 코드 가져오기
    - uses: actions/checkout@v3

    # 2. 자바 설치 (프로젝트 버전에 맞춰 17 또는 11로 수정)
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    # 3. 빌드 권한 부여 및 빌드
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build -x test

    # 4. 스크립트 실행 권한 주기 & 실행
    - name: Execute Deploy Script
      run: |
        chmod +x ./deploy.sh
        ./deploy.sh
      shell: bash