name: Deploy to my server

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    defaults:
      run:
        working-directory: ./breadcast

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    # Secrets에 있는 설정 파일로 덮어쓰기
    - name: Make application.yml
      run: |
        mkdir -p ./src/main/resources
        touch ./src/main/resources/application.yml
        echo "${{ secrets.APPLICATION_YML }}" > ./src/main/resources/application.yml
      shell: bash

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build -x test

    - name: Deploy to Prod
      run: |
        mv build/libs/*SNAPSHOT.jar build/libs/app.jar
        sudo systemctl restart breadcast
